.main-header:before {
    background: linear-gradient(54deg,rgb(60 30 101 / 85%) 26%,hsl(0deg 54% 83% / 85%)) !important;
}

.contacts .contacts__social a {
    text-decoration: none;
}

.contacts .contacts__social a:hover {
    color: #fff;
    text-decoration: none;
    background-color: initial;
    font-weight: 600;
    opacity: 0.5;
}

.section__resume .skins-list__block-title {
    text-transform: uppercase;
    color: #6d56c1;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: right;
}

.progress-list .progress .progress-bar {
    background: linear-gradient(54deg,rgb(187 167 236) 0%,hsl(253deg 46% 55%)) !important;
}

.project-card:hover {
    box-shadow: 0 1px 31px rgba(0,0,0,.09);
    cursor: auto;
}

.project-card .project-card__img {
    background: #f0f0f0;
}

.project-card .project-card__img img {
    object-fit: contain;
    /* object-fit: fill; */
}

.project-card .project-card__info {
    padding: 30px;
}

.project-card .project-card__link {
    margin-top: 25px;
}

.project-card .project-card__description {
    margin-bottom: 25px;
}

.site-btn {
    min-width: 250px;
}

.resume-list__block ul {
    list-style: initial;
    padding-left: 30px;
    font-size: 16px;
}

.resume-list .resume-list__block {
    padding-bottom: 45px;
}

.tags li {
    margin-bottom: 5px;
}

@media (max-width: 720px) {
    .main-header {
        background-image: url("../img/avatar.jpg") !important;
    }
}

